[Eth]
NetworkId = 96
SyncMode = "full"
DiscoveryURLs = []
NoPruning = false
NoPrefetch = false
LightPeers = 100
UltraLightFraction = 75
DatabaseCache = 512
DatabaseFreezer = ""
TrieCleanCache = 256
TrieDirtyCache = 256
TrieTimeout = 3600000000000
EnablePreimageRecording = false
EWASMInterpreter = ""
EVMInterpreter = ""

[Eth.Miner]
GasFloor = 30000000
GasCeil = 40000000
GasPrice = 18000000000
Recommit = 10000000000
Noverify = false

[Eth.Ethash]
CacheDir = ""
CachesInMem = 0
CachesOnDisk = 0
CachesLockMmap = false
DatasetDir = ""
DatasetsInMem = 0
DatasetsOnDisk = 0
DatasetsLockMmap = false
PowMode = 0

[Eth.TxPool]
Locals = []
NoLocals = true
Journal = "transactions.rlp"
Rejournal = 3600000000000
PriceLimit = 18000000000
PriceBump = 10
AccountSlots = 16
GlobalSlots = 4096
AccountQueue = 64
GlobalQueue = 1024
Lifetime = 10800000000000

[Eth.GPO]
Blocks = 20
Percentile = 60

[Shh]
MaxMessageSize = 1048576
RestrictConnectionBetweenLightClients = true

[Node]
DataDir = ""
omitempty = ""
InsecureUnlockAllowed = false
NoUSB = true
IPCPath = "geth.ipc"
HTTPHost = "127.0.0.1"
HTTPPort = 8575
HTTPVirtualHosts = ["*"]
HTTPModules = ["eth", "net", "web3", "txpool", "parlia"]
WSPort = 8576
WSModules = ["net", "web3", "eth"]
GraphQLPort = 8577
GraphQLVirtualHosts = ["*"]

[Node.P2P]
MaxPeers = 50
NoDiscovery = false
BootstrapNodes = ["enode://c6bc4e61b84f9542c11af64e231b70b1b9892014f3d501e29b35b880a3ea23c4ad6eae4bfca3e6cef4fb6bb32ede20788138afe31a40827df41d1760e899490e@52.199.214.252:30311","enode://a5cd3e318045a67a75939c59a8a387f451d09c09a215bb3c778069508b357ea283d82188e87f680fc4a39dcc2ed8ad3b880fedb0abfc309903112ab4d4ff52d7@18.181.52.189:30311","enode://d548615b20679fced2806c5d823715d88857ea237b925b9965d44f17fc1ffd06b660c0d71b6934015be7635b833bbdce7476abfbf544b9685fc4836a9c223436@52.51.80.128:30311","enode://ec7c342740f8b432cf45d35f64ac4e81896adbc868fbf29a5704807ba550c708d099fb1c997aee3b452218932f03d341af838dc44e103a3632a27bd20e2c691a@34.242.33.165:30311","enode://e7162cc5c807736aedbb7bcc3c3e97522ac2502c78c849add571d001ea354f2477087e8981ceb0408feaa985c3e059e131ddc5ad2a2342b2f47a30b78ca56332@3.209.122.123:30311","enode://936e79c7ba4fc8ebe793f813bf03da4b171c10d3db6531db42e62e0314b46ea690654725921e39a86f49b7cc4d2e8c1014be7137b94b228bdfbf514da67ab73f@52.72.123.113:30311"]
StaticNodes = []
TrustedNodes = ["enode://c6bc4e61b84f9542c11af64e231b70b1b9892014f3d501e29b35b880a3ea23c4ad6eae4bfca3e6cef4fb6bb32ede20788138afe31a40827df41d1760e899490e@52.199.214.252:30311","enode://a5cd3e318045a67a75939c59a8a387f451d09c09a215bb3c778069508b357ea283d82188e87f680fc4a39dcc2ed8ad3b880fedb0abfc309903112ab4d4ff52d7@18.181.52.189:30311","enode://d548615b20679fced2806c5d823715d88857ea237b925b9965d44f17fc1ffd06b660c0d71b6934015be7635b833bbdce7476abfbf544b9685fc4836a9c223436@52.51.80.128:30311","enode://ec7c342740f8b432cf45d35f64ac4e81896adbc868fbf29a5704807ba550c708d099fb1c997aee3b452218932f03d341af838dc44e103a3632a27bd20e2c691a@34.242.33.165:30311","enode://e7162cc5c807736aedbb7bcc3c3e97522ac2502c78c849add571d001ea354f2477087e8981ceb0408feaa985c3e059e131ddc5ad2a2342b2f47a30b78ca56332@3.209.122.123:30311","enode://936e79c7ba4fc8ebe793f813bf03da4b171c10d3db6531db42e62e0314b46ea690654725921e39a86f49b7cc4d2e8c1014be7137b94b228bdfbf514da67ab73f@52.72.123.113:30311"]
ListenAddr = ":30313"
EnableMsgEvents = false

[Node.HTTPTimeouts]
ReadTimeout = 30000000000
WriteTimeout = 30000000000
IdleTimeout = 120000000000

[Node.LogConfig]
FileRoot = ""
FilePath = "bsc.log"
MaxBytesSize = 10485760
Level = "info"
